
body {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    font-weight: normal;
    font-family: Roboto;
    
}

nav {
    background-color:  #FF9F27;
    font-weight: bold;
    text-transform: uppercase;
}

nav .logo-img {
    height: 55px;
}

nav .btn-entrar {
    background: #000000 ;
    border-radius: 5px;
    height: 46px;
    width: 100px;
}

nav .icones-nav-item {
    margin-right: 9px;
}

.nav-link {
    margin-top: 5px;
}



.carousel-control-prev-icon {
    background-image: url('../img/icones/esquerda_arrow.png');
}

.carousel-control-next-icon {
    background-image: url('../img/icones/direita_arrow.png')
}

.carousel-control-next-icon, 
.carousel-control-prev-icon {
    width: 20px;
    height: 61px;
}

.objetos-destaques-principal {
    background-color: #FF9F27;
    width: 332px;
    height: 45px;
    position: absolute;
    top: 0px;
    z-index: 1000;
    border-radius:0% 0% 50px 0%;
}

.objetos-destaques-principal img{
    font-weight: bold;
    padding: 10px;
    padding-right: 9.96px;
}

.carousel-caption {
    text-align: justify;
    padding-bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.7);
    margin-bottom: -20px;
    padding-top: 3px;
}

.carousel-caption h5, .carousel-caption p {
    margin-left: 10px;
}

.carousel-caption h5 {
    font-size: 36px;
}

.carousel-caption p {
    max-width: 700px;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.carousel {
    
    max-height: 594px;
    max-width: 1058px;
}

.container {
    margin-top: 30px;
}

.d-block {
    width: 100% !important ;
}

.sidebar .titulo-side-bar {
    margin-bottom:55px;
}

.eventos-importantes-sidebar {
    background: #EBEBEB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    width: 21rem;
    height: 100px;
    Offset: 0px, 4px;
    border-radius: 0px 0px 10px 0px;
    border: solid #EBEBEB;
    margin-top: 10px !important;
}

.card-body img{
    position: absolute;
    left: 2.94%;
    right: 73.53%;
    top: 10%;
    bottom: 10%;
}

.card-body .card-title 
{
    position: absolute;
    left: 29.52%;
    right: 0%;
    top: 20%;
    bottom: 71%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #000000;
}

.card-body .card-text {
    position: absolute;
    left: 29.41%;
    right: 23.82%;
    top: 33%;
    bottom: 39%;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #000000;
}

.separador {
    background: rgba(0, 0, 0, 0.5);
    Width: 100%;
    Height: 45px;
    margin-top: 30px;
    border-radius:0% 0% 50px 0%;
}

.separador div {
    background-color: #FF9F27;
    width: 332px;
    height: 45px;
    z-index: 1000;
    border-radius:0% 0% 50px 0%;
}

.separador img {
    padding-top: 10px;
    padding-left: 9.98px;
}

.separador strong {
    position: absolute;
    padding-top: 14px;
    padding-left: 9.98px;

}

.bloco-noticia {
    width: 100%;
    background: #EBEBEB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
    position: inherit;
    border-radius:0% 0% 20px 0%;
}

.card-body .card-conteudo,
.card-body  .card-titulo {
    position: inherit;
}

.card-body .conteudo-completo {
    color: black;
    background-color:  #FF9F27;
    border-radius:0% 0% 50px 0%;
    width: 101px;
    font-weight: bold;
    height: 24px;
    border:none!important;
    font-size: 14px;
    text-align: left;
}

.card-body  .card-titulo {
    font-size: 24px;
    line-height: 28px;
    font-style: normal;
    font-weight: bold;
    color: #000000;
    margin-top: -10px !important;
    margin-bottom: -4px;
}

.card-body .text-data {
    color: #FF9F27 !important;
    font-size: 12px;
    font-size: 12px;
    line-height: 14px;
    font-style: normal;
    font-weight: bold;
}

.img-card-noticia {
   height: 100%;
}

.propaganda-lateral img{
    margin-top: 33px;
}

footer {
    padding: 10px 0 30px;
    background-color:  #000000;
}

.rede-sociais {
    float: right;
    margin-top: 20px;
}

.link-footer a {
    text-decoration:none; 
    color: white;
}


@media only screen and (max-width:1440px) {
    .carousel {
        max-height: 594px;
        max-width: 1058px;
    }

    .Sidebar-direita {
        margin-left: -10px !important;
    }

    .container {
        float: left;
    }

    .menu-sidebar {
        position: absolute !important;
        right: 8%;
    }

    .separador {
        width: 1058px !important;
    }

    .bloco-noticia {
        width: 1058px !important;
        height: 174px;
    }

    .img-card-noticia {
        width: 340px !important;
        height: 172px !important;
    }
}

@media only screen and (max-width:500px) {
    .menu-sidebar {
        position: relative !important;
        right: 0%;
        margin-top: 30px;
    }

}